@import "tailwindcss";

body{
    background-color: rgb(241, 245, 241);
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes scroll-horizontal {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.scroll-container {
  display: inline-flex;
  gap: 40px;
  align-items: center;
  white-space: nowrap;
  padding-left: 16px;
  padding-right: 16px;
  will-change: transform;
  animation-name: scroll-horizontal;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@media (min-width: 640px) {
  .scroll-container {
    padding-left: 24px;
    padding-right: 24px;
  }
}
